*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f4fa;
}

a{
    text-decoration: none;
    color: black;
}
.column-3-2 a:hover{
    color: blue;
    text-decoration: underline;
}
.h1{
    font-size: 23px;
    font-weight: normal;
}
.h3{
    font-weight: normal;
}
.h4{
    font-weight:normal;
    font-size: 25px;
}
.h5{
    font-size: 35px;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 3px;
    
}
.h6{
    font-size: 15px;
}
.h5 i{
    font-size: 15px;
    margin-left: 10px;
    color: orange;
    position: relative;
    top: -4px;
}
.h5 i span{
    margin-left: 10px;
   
}
.p{
    color: rgb(190, 185, 185);

}
.blue{
    background-color: #8958f4;
}
.green{
    background-color: #76c73b;
}
.orange{
    background-color: #f4b73f;
}
.lightBlue{
    background-color: #53aff8;
}
.gray{
    background-color: #8b8c93;
}
.red{
    background-color: #ec5b58;
}
.orangeText{
    color: orange;
    text-align: right;
}
.redText{
    color: red;
    text-align: right;
}



.btn{
    background-color: #8858f4;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
}
.btn:hover{

    background-color: #27007e;
    font-weight: bold;
}
#sun{
    color: orange;
}
.darkMode{
    border: none;
    font-size: 26px;
    background: none;
}




body.dark{
    background-color: black !important;
    color: white !important;
}
body.dark .boxStyle{
    background-color: rgb(43, 42, 42);
    color: white !important;
}
body.dark ul li a ,body.dark .rightHeader i ,body.dark .logoText , body.dark p.h9.h ,body.dark .hamburger {
    color: white !important;
}
body.dark .column-1-2 p span{
color: white !important;
font-weight: bolder;
}
body.dark .chartImg {
opacity: 0.6;
border-radius: 10px;
}

body.dark .header, body.dark .leftSection{
    background-color: black;
}
body.dark .profilImg{
    border-color: white;
}
body.dark .separateList p span {
    background-color: black;
}






.container{
    max-width: 1260px;
    width: 100%;
    padding: 0px 30px;
    margin: auto;
}
.boxStyle{
    border-radius: 5px;
    box-shadow: 0px 0px 5px #d6c9c9;
    background-color: white;
    padding: 15px;
    position: relative;
}
.threeDots{
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
}
.header{
    display: flex;
    justify-content: space-between;
}
.rightHeader{
    display: flex;
    justify-content: space-between;
    width: 77.8%;
}

.search{
    padding-top: 14px;
    width: 30%;
 }
 .HeaderIcons{
    padding-top: 14px;
    padding-right: 51px;
     width: 40%;
     text-align: right;
 }
 .logo{
    width: 22%;
    display: flex;
}



 .HeaderIcons a{
     font-size: 26px;
     margin-bottom: -5px;
 }
.main{
    display: flex;
    justify-content: space-between;
}

.leftSection{
    width: 20%;
    height: 100vh;
}


.logoImg{
    height: 60px;
    width: auto;
    cursor: pointer;
    
}
.logoText{
    font-size: 30px;
    margin-top: 14px;
    color: black;
    font-weight: 500;
    display: inline-block;
}
.navLists{
    padding: 20px 0px;
    padding-right: 10%;
    max-width: 300px;

}
.navLists li {
    margin: 10px 0px;
    padding: 10px;
    border-radius: 0px 20px 20px 0px;
    list-style-type: none;
}
.navLists li:hover{
    background-color: lightgray;
    font-weight: bold;
}
.navLists li a{
    color: black;
    padding-left: 10px;
    font-size: 18px;
}
.navLists li i{
    font-weight: bold;
    font-style:normal;
    font-size: 20px;
}
.navLists li.active{
    background: linear-gradient(265deg,rgba(138, 91, 245, 1) 0%, rgba(190, 164, 248, 1) 100%);
    color: white ;
}
.navLists li.active a{
    color: white;
}
.separateList{
    margin: 40px 0px 20px 0px;
}

.separateList p {
    width: 100%; 
    border-bottom: 1px solid rgb(190, 185, 185); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    
 } 
 
 .separateList p span { 
     background:#f4f4fa; 
     padding:0 10px; 
     margin-left: 15px;
     font-size: 15px;
     color: rgb(190, 185, 185);
 }


 .searchInp{
    border-radius: 20px;
    padding:  10px 5px;
    border: 1px solid rgb(176, 176, 176);
    width: 200px;
    padding-left: 33px;
    background-image: url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/icons/search.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
}

.rightSection {
    margin-right: 18px;
    width: 78.5%;
    padding: 13px 30px;
}

.dashboard{
    display: flex;
    flex-direction: column;
}


a.profileLink{
    position: relative;
    display: inline-block;
}

.profilImg{
    border-radius: 50%;
    display: block;
    height:35px;
    border: 1px solid;

}

.userStatus {
    border-radius: 50%;
    height: 10px;
    position: absolute;
    right: 1px;
    bottom: 1px;
    width: 10px;
    background-color: #ff3636;
    border: 1px solid white;
}

.dashboard{
    margin-top:10px ;
}

.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0px;
}



.column-1-1{
    position: relative;
    width: 35%;
    background-image: url(images/prizeImage-removebg.png);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    /* min-height: 165px; */
}
.column-1-1 p{
    margin-top: 5px;
    margin-bottom: 15px;
}
.column-1-1 h2{
margin-bottom: 15px;
color: #8858f4;
}



.column-1-2{
    width: 63%;

}
.column-1-2 ul{
    margin-top: 20px;
    display: flex;
    list-style-type: none;
}

.column-1-2 ul li{
    /* display: inline-block; */
    width: 24%; 
    box-sizing: border-box;
    padding-right: 10px;
    vertical-align: top;
    text-align: left;
    display: flex;
 }




.column-1-2 li i{
    width: 51px;
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 0px 3px rgb(125, 124, 124);
    margin-right: 10px;
}
  
.column-1-2 ul li .p,
  .column-1-2 ul li .h3 {
    line-height: 1.4;
  }
    
.column-1-2 > .p{
    margin: 15px 0px 30px ;
}
.column-2-2{
    width: 31%;
}
.column-2-1 {
    width: 35%;
}
.column-2-3{
    width: 31%;
}
.column-2-1 .p{
    margin-bottom: 2px;
}

.box-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-top-left , .box-top-right{
    margin-bottom: 20px;
}

.box-top-left,.box-bottom-left{
    width: 47%;
    min-height: 162px;

    
}
.box-top-right,.box-bottom-right{
    width: 47%;
    min-height: 162px;

}




.chartImg{
    object-fit: cover;
    display: inline;
}
figure{
    width: 100%; 
    height: auto;
}
img{
  max-width: 100%; 
  height: auto;    
  display: block;
}
.column-2-1 .btn{
    margin-top: 15px;
    width: 100%;
} 

.chartDetails{
    display: flex;
}

.column-2-1 .h4{
    margin-right: 10px;
    margin-top: 7px;

}
.card{
    margin-top: 29px;
}
.item{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}

.itemImg{
    width: 13%;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}
.info{
    width: 49%;
}
.info .p{
    font-size: 14px;
}
.amount{
    width: 33%;
    
}



.progress {
    display: flex;
    width: 100%;
    height: 6px;
    border-radius: 4px;
    margin-top: 6px;
    border: 0.5px solid;
    overflow: hidden;
    background-color: rgb(151, 216, 240);
  }
  

  
  .progress .zipcarProgress {
    width: 80%;
    background: blue;
    height: 100%;  
  

  }
  
  .progress .bitbankProgress{
    width: 50%;
    background: blue;
    height: 100%;
  }
  
  .progress .aviatoProgress {
    width: 20%;
    background: gray;
    height: 100%;
  }
 .lightgray{
    background-color: rgb(213, 210, 210);
 }
  
sup{
    font-size: 13px;
    opacity: 0.7;
}

  .box-grid i.icon{
    color: white;
    padding: 10px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .h7{
    margin: 10px 0px;
  }
  .h8{
    font-size: 16px;
  }

  .box-grid .p{
    margin-top: 10px;
  }
  
  .column-3-1{
    width: 35%;
  }
  .column-3-2{
    width: 63.2%;
  }
  .circleText{
    width: 43px;
    height: 40px;
    padding: 7.3px;
    display: inline-block;
    text-align: center;
    color: white;
    border-radius: 50%;
    font-size: 20px;
  }

  .tableContent{
    width: 77%;
    padding: 0px 16px;
  }
  table p.h7{
    margin: 0;
  }
tr{
    line-height: 1.5;
    position: relative;
  }
  table{
    margin-top: 15px;
    width: 100%;
  }
  .column-3-2 .leftBox{
    position: relative;
width: 50%;
padding-right: 15px;
  }
  .column-3-2 .rightBox{
    position: relative;
    border-left: 1px solid rgb(197 197 197);
width: 50%;
padding-left: 15px;
  }

  .column-3-2{
    display: flex;
  }

  .column-3-2 .threeDots{
    top: 0;
  }

.tdImg{
    width: 45px;
    height: auto;
    border-radius: 5px;
}
.tableContent2{
    width: 70%;
    padding-left: 10px;
}
  
.withdrawTable tr,.depositTable tr{
line-height: 1.64;
}
.h9{
    color: rgb(190, 185, 185);
    font-size: 18px;
    
}
.h9.blackText{
    color: black;
    margin-top: 10px;
}
.statusTag{
color: white;
padding: 5px 10px;
border-radius: 30px;
}
.column-4-1{
    padding-right:0;
    padding-left: 0;
}
.detailsTable{
    text-align: left;
    border-collapse: collapse;
   

}
.detailsTable .p{
    margin-bottom: 4px;
}

.detailsTable tr{
    border-top:1px solid rgb(197 197 197);
    
}

.detailsTable th{
    padding-bottom: 15px;
}
.detailsTable tr td:nth-child(1) ,.detailsTable tr th:nth-child(1){
    padding-left: 15px;
}



.detailsTable tr:nth-child(1){
border-top: none;
}



.hamburger{
    display: none;
    font-size: 50px;
    color: white;
    padding: 2px 5px;
    position: absolute;
    color: black;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
}
footer{
    display: flex;
    justify-content: space-between;
}

footer ul li a{
    color: blue;

}
footer ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}


footer p{
    padding: 10px;
}



.upArrow{
    position: fixed;
    right: -8px;
    width: 37px !important;
    bottom: 5px;
    margin: 15px;
    color: white;
    background-color: rgb(110, 110, 226);
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
    display: none;
    box-shadow: 0px 0px 4px #806e6e;
}
.upArrow:hover{
    background-color: blue;
}









@media screen and (max-width:1260px) {
    
.column-1-2 li i {

    width: 40px;
    font-size: 17px;

}
.column-1-2 ul li {
    padding-right: 5px;
}
.column-1-2 ul{
    padding-top: 20px;
}
.column-1-2 li:last-child {
    padding: 0;
}

.p, .column-1-2 ul li .h3 {
    font-size: 15px;
}
.boxStyle{
    padding: 10px;
}
.rightSection{
    padding: 13px 15px;
}

.column-2-1 .p {
       
    margin-top: 24px;
}
.column-2-1 figure {
    width: 100%;
    height: auto;
    margin-bottom: 32px;
}

}

@media screen and (max-width:1037px) {

    .rightSection, .header {
        width: 100%;
        padding: 13px 30px;
    }
    .header{
        z-index: 2;
        position: fixed;
        top: 0;
        background-color: #f4f4fa;
    }
    body{
        padding-top: 50px;
    }
    .leftSection{
        z-index: 1;
        position: fixed;
        right: 0;
        top: 65px;
        right: -255px;
        z-index: 99;
        background-color: #f4f4fa;
        width: 210px;
        transition: ease-in-out 0.5s;
        overflow: scroll;
    }
    .navLists  li{
        border-radius: 20px 0px 0px 20px;
    }
    /* .leftSection ul li i{
        float: right;
    } */

.leftSection ul li{
    display: flex;
    flex-direction: row-reverse;

}
.leftSection ul li a{
    margin-right: 10px;
    
}

    .navLists{
        padding-right: 0;
        padding-left: 10px;

    }
    .hamburger{
        display: block;
    }
    .HeaderIcons {
        padding-right: 50px;
    }
    .logo{
        width: 40%;
    }
    .search{
        width: 20%;
    }
    .leftSection.open{
        right: 0px;
    }

}

@media screen and (max-width:950px) {

    .column{
        width: 100% ;
        margin: 20px 0px;

    }
    .row{
        margin: 0;
    }
    .column-2-3{
        width: 100%;
    }
   


}
